@import "../../public/css/mixin";
 
 .login-main{
    width:80%;
    margin:0 auto;
    padding:50rem/$size 0;

    .p-title{
      text-align:center;
      padding:50rem/$size;
      font-size:60rem/$size;
      color:#333;
    }
 }

 .ipt-group{
    border-radius:10rem/$size;
    overflow:hidden;
    position:relative;
    margin-bottom:40rem/$size;

    .ipt{
      display:block;
      width:100%;
      height:120rem/$size;
      border:0;
      box-sizing:border-box;
      padding:0 5%;
      font-size:46rem/$size;
      border:1px solid #ddd;
      outline:none;
      background:none;
      line-height:1.5;
    }

    .error-infor{
      color:#f00;
      padding:20rem/$size;
    }

 }

 .btn{
        display:block;
        width:100%;
        height:120rem/$size;
        color:#fff;
        background:#ffeb3b;
        font-size:50rem/$size;
        outline:none;
        border:0;
        border-radius:10rem/$size;
    }