@import "../../public/css/mixin";
.ipt-wrap{
    padding:10rem/$size;
    display:flex;
    .ipt{
        height:100rem/$size;
        line-height:100rem/$size;
        border:1px solid #eee;
        display:inline-block;
        box-sizing:border-box;
        flex:2;
        font-size:40rem/$size;
    }
    .btn{
        height:100rem/$size;
        flex:1;
        display:inline-block;
    }
}

